.loader {
  &:global(.ant-spin-spinning) {
    position: relative;
    margin-top: 100px;
    left: 50vw;
    transform: translate(-50%, -50%);

    span {
      font-size: 120px !important;
    }
  }

  &.centered {
    position: absolute;
    top: 50vh;
    margin-top: 0;
  }
}
