$gallery-preview-width: 1600px;
$gallery-preview-height: 800px;

.card {
  &:global(.ant-card) {
    margin: 50px auto;
  }
  width: $gallery-preview-width;
}

.header {
  text-align: center;
}

.galleryPreviewWrapper {
  width: $gallery-preview-width;
  height: $gallery-preview-height;
  margin: auto;
}

.list ul {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}
